/* Style Pagination */
.pagination .page-item.active .page-link {
    background-color: #fc70cd !important;
    border-color: #fc70cd !important;
    color: white;
  }
  
  .pagination .page-link {
    color: black !important;
  }